* { 
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background: #000000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

a:hover {
    text-decoration: underline;
}

.lightbox-extra {
    opacity: 1;
    transition: opacity 1s;
}

.lightbox-extra {
    -webkit-transition: none;
    transition: none;
}

.lightbox-wrapper .prev {
    left: 0;
}

.lightbox-wrapper .next {
    right: 0;
}

.lightbox-wrapper .next, 
.lightbox-wrapper .prev {
    height: 100vh;
    opacity: 0;
    top: 0;
    width: 30vw;
}

.lightbox-wrapper .next:hover, 
.lightbox-wrapper .prev:hover {
    opacity: 1;
}

.lightbox-wrapper .control {
    cursor: pointer;
    position: absolute;
    z-index: 1003;
}

.lightbox-wrapper .close {
    position: fixed;
    height: 40px;
    right: 20px;
    top: 20px;
    width: 40px;
}

.lightbox-wrapper .prev svg {
    left: 20px;
}

.lightbox-wrapper .next svg {
    right: 20px;
}

.lightbox-wrapper .next svg, 
.lightbox-wrapper .prev svg {
    top: calc(50% - 30px);
    position: absolute;
}

.lightbox-wrapper svg .lightbox-icon-bg {
    fill: #696969;
    opacity: .2;
}

.lightbox-wrapper .next svg .lightbox-icon-arrow, 
.lightbox-wrapper .prev svg .lightbox-icon-arrow {
    fill: #fff;
}

.lightbox-wrapper .close .lightbox-icon-bg {
    fill: #fff;
}

.lightbox-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    position: relative;
    cursor: zoom-in;
}

.lightbox-content img {
    max-height: 100vh;
    max-width: 100vw;
    pointer-events: none;
}

.lightbox-actions {
    display: flex;
    margin-left: 15px;
    position: absolute;
    top: 10px;
    z-index: 1004;
}

.lightbox-action {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    margin-right: 10px;
}

.lightbox-btn {
    border: 1px solid transparent;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: color, background;
    transition-property: color, background;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lightbox-btn-alpha {
    background: rgba(25, 25, 25, 0.35);
    border-color: transparent;
    color: #fff;
}

.lightbox-btn-action {
    position: relative;
}

.lightbox-btn-wrapper {
    padding: 8px 18px;
}

.lightbox-btn-wrapper {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.lightbox-btn-icon {
    margin-right: 7px;
    float: left;
}

.lightbox-btn-label {
    font-size: 14px;
    border: 1px solid transparent;
    display: inline-block;
    max-width: 100%;
}

.lightbox-collection {
    height: 15px;
    fill: #fff;
}

.lightbox-project {
    -webkit-box-align: center;
    align-items: center;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000));
    background: linear-gradient(rgba(0, 0, 0, 0), #000);
    border-radius: 2px;
    bottom: 0;
    display: flex;
    left: 0;
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    z-index: 1004;
}

.lightbox-cover-image-link {
    width: auto;
    cursor: zoom-in;
}

.lightbox-cover-image {
    border-radius: 2px;
    display: block;
    margin-right: 10px;
    width: 80px;
}

.lightbox-project-info {
    color: #fff;
    font-size: 14px;
}

.lightbox-project-name {
    color: inherit;
    font-weight: bold;
}

.lightbox-project-owners {
    display: flex;
    flex-wrap: wrap;
    margin-top: 9px;
}

.lightbox-project .link {
    color: #fff;
}

.lightbox-follow-project {
    display: flex;
}

.lightbox-follow-project::before {
    content: '\2022';
    display: inline-block;
    margin: 0 10px;
}
